.filesharing-item {
	background: url(../../images/download_icon.png) no-repeat 0 3px;
	padding-left: 20px;
}

/* @group Blog */

.blog-archive-link {
	background: url(../../images/blog_home.png) no-repeat 0 5px;
	padding-left: 20px;
}

.blog-entry-date {
	padding-left: 20px;
	background: url(../../images/blog_clock.png) no-repeat 0 3px;
}

/*styles the category link in the main entry */
.blog-entry-category {
	background: url(../../images/blog_file.png) no-repeat 0 0;
}

.blog-entry-body {
	padding: 20px 0 40px 0;
	background: url(../../images/blog_bottom_bar.png) no-repeat left bottom;
}

.blog-entry-comments {
	padding-left: 20px;
	background: url(../../images/blog_comments.png) no-repeat 0 3px;
}

.blog-trackback-link {
	padding-left: 20px;
	background: url(../../images/blog_trackback.png) no-repeat 0 0px;
}

p.blog-entry-tags {
	background: url(../../images/blog_tag.png) no-repeat 0 3px;
}

/* styles the archives in the blog sidebar */

.blog-archive-link-enabled {

	background: url(../../images/blog_icon.png) no-repeat 0;
}

.blog-archive-link-disabled {
	background: url(../../images/blog_icon.png) no-repeat 0;
}

/* Styles the blog categories in the blog sidebar */

.blog-category-link-enabled {
	background: url(../../images/blog_file.png) no-repeat 0;
}

.blog-category-link-disabled {
	background: url(../../images/blog_file.png) no-repeat 0 3px;
}

.blog-rss-link {
	background: url(../../images/blog_rss.png) no-repeat 0;}

.blog-comments-rss-link {
	background: url(../../images/blog_rss.png) no-repeat 0;
}
	
/* @end */