#include <winver.h>

/* Application Icon */

IDI_ICON1               ICON    DISCARDABLE     "OpenBoard.ico"
IDI_ICON2               ICON    DISCARDABLE     "OpenBoardDoc.ico"

/* Version Info */

VS_VERSION_INFO VERSIONINFO

FILEVERSION    	UBVERSION_RC

PRODUCTVERSION 	UBVERSION_RC

FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK

#ifdef PRE_RELEASE
FILEFLAGS       VS_FF_PRERELEASE
#endif

FILEOS         	VOS__WINDOWS32

FILETYPE       	VFT_APP

BEGIN

    BLOCK "StringFileInfo"

    BEGIN

        BLOCK "040904E4" /* U.S. English, code page 1252 */

        BEGIN

            VALUE "CompanyName",      "Open Education Foudation\000"

            VALUE "FileDescription",  "OpenBoard\000"

            VALUE "FileVersion",      UBVERSION

            VALUE "LegalCopyright",   "(c) Open Education Foundation 2013. All rights reserved\000"

            VALUE "OriginalFilename", "OpenBoard.exe\000"

            VALUE "ProductName",      "OpenBoard\000"

            VALUE "ProductVersion",   UBVERSION

        END

    END

END

