#contentContainer {
	float: left;
	padding-left: 7px;
	background-position: top right;
}

#sidebarContainer {
	float: right;
	padding-right: 7px;		
}

#sidebarContainer #sidebar {
	padding-right: 30px;
	padding-left: 10px;
}