/* 
    Document   : basic
    Created on : Sep 5, 2011, 12:01:33 PM
    Author     : GEG.BY
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    padding: 3px;
    margin: 0 auto;
    height: auto;
    background-color: white;
}

.toggleButton{
    width: 20px;
    height: 28px;
    border: none;
    background-image: url(../images/greySquare.png);
    font-weight: bold;
    font-family: Verdana;
    color: #00C6FF;;
    cursor: pointer;
}

.buttonDiv{
    position: fixed;
    float: right;
    z-index: 1;
}

.addQstDiv{
    float: left;
    padding: 5px;
    margin: 2px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: large;
}

.addQstButton{    
    margin: 0;
    border: none;
    background: none;
    color: #99ccff;
    cursor: pointer;
}

#addQsqSpan1{
    font-size: 30px;
    margin-right: 10px !important;
}

.qstDiv{
    width: 90%;
    margin: 2px auto;
    padding: 5px;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.qstDivDisplay{
    width: 90%;
    margin: 5px 5%;
    padding: 5px;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    border: 2px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #dadada -1px 0 4px;
    -webkit-box-shadow: #dadada -1px 0 4px;
    box-shadow: #dadada -1px 0 4px;
}

.spanOptConn{
    float: left;
    width: 100%;
}

.qstNumber{
    float: left;
    font-size: 30px;
    margin-left: 10px !important;
    color: #00C6FF;
}

.qstOptions{
    float: right;
}

.changeOptions{
    border: none;
    background-image: url(../images/grayClose.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: auto;
    padding-left: 18px;
    color: #00C6FF;
    cursor: pointer;
}

.applyChanges{
    border: none;
    background-image: url(../images/blueClose.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: auto;
    padding-left: 18px;
    color: #00C6FF;
    cursor: pointer;
}

.qstDelete{
    border: none;
    background-image: url(../images/boldClose.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: auto;
    padding-left: 28px;
    line-height: 35px;
    cursor: pointer;
}

.qstContent{
    float: left;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 95%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    border: 3px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #dadada -1px 0 4px;
    -webkit-box-shadow: #dadada -1px 0 4px;
    box-shadow: #dadada -1px 0 4px;
}

.qstContentDisplay{
    float: left;
    padding: 5px;
    margin: 10px;
    width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color:#333333;
}

.ansDiv{
    float: left;
    margin-left: 100px;
    width: 80%;
}

.ansAdd{
    border: none;
    background: url(../images/blueClose.png) -0px -0px no-repeat;
    background-color: white;
    width: auto;
    padding-left: 20px;
    line-height: 24px;
    color: #99ccff;
    cursor: pointer;
}

.newAnswer{
    float: left;
    width: 100%;
    margin: 3px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ansSpan{
    border: none;    
    background-color: white;
    color: #00C6FF;
    font-size: 14px;
    float: left;
    margin: 0 3px;
    width: 20px;
}

.ansSpanDisplay{
    color: #00C6FF;
    font-size: 14px;
    float: left;
}

.ansContent{
    padding: 1px 3px 3px 3px;
    margin-left: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    width: 80%;
    float: left;
    border: 3px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #dadada -1px 0 4px;
    -webkit-box-shadow: #dadada -1px 0 4px;
    box-shadow: #dadada -1px 0 4px;
}

.ansContentDisplay{
    padding: 1px 3px 3px 3px;
    margin-left: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    width: 90%;
    float: left;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
}

.ansDelete{
    float: left;
    border: none;
    background-image: url(../images/boldGreyClose.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 50%;
    cursor: pointer;
    margin: 0 5px;
}

.qstOptChoice{    
    width: 80%;
    margin: 10px 10%;
    float: left;
    background-color: #F3F3F2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ECECEB;
    border-right-color: #ECECEB;
    border-bottom-color: #ECECEB;
    border-left-color: #ECECEB;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    -webkit-box-shadow: #dededd 0 0 2px inset;
    padding: 0;
}

.optDescImg{
    padding: 2px;
    margin: 5px;
    background: url(../images/tool.png) -0px -0px no-repeat;
    float: left;
    margin-left: 20px;
    width: 56px;
    height: 51px;
}

.optDescText{
    text-align: center;
    width: 70%;
    color: #666666;
    float: left;
    font-size: small;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 3px 5px;
    padding: 5px;
}

.type{
    float: left;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #dadada -1px 0 4px;
    -webkit-box-shadow: #dadada -1px 0 4px;
    box-shadow: #dadada -1px 0 4px;
}

.contentType{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid #DFDFDE;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}

.divType1, .divType2, .divType3 {
    width: 122px;
    height: 97px;
    padding: 0 15px;
    margin-left: 30px;
}

.divType1{
    background: url(../images/1thOption.png)-0px -0px no-repeat;
}

.divType2{
    background: url(../images/2thOption.png)-0px -0px no-repeat;
}

.divType3{
    background: url(../images/3thOption.png)-0px -0px no-repeat;
}

.textType{
    width: 160px;
    font-size: small;    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #666;
    padding: 3px;
    margin-left: 20px;
}

.radioDiv{
    background-color: #F5F5F5;
    border-top: 1px solid white;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 30px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.radioType{
    float: right;
    margin: 2px;
    padding: 3px;
}

.popupWordInfo{
    position: absolute;
    display: none;
    width: 100px;
    height: 20px;
    top: 0;
    left: 0;
    text-align: center;
    border: 1px solid #B9B9B9;
    background-color: #eaebeb;
    color: #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #dadada -1px 0 4px;
    box-shadow: #dadada -1px 0 4px;
    z-index: 100;
}