html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    border-radius: 50px;
}

body{
    background-image: url(../img/bg.png);
}

.toggle_mode{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#display_img, #edit_img{
    width: 15px;
    height: 15px;
    margin: 5px 10px;
}

.green_point{
    background-image: url(../img/green_point.png);
}

.red_point{
    background-image: url(../img/red_point.png);
}

#display_text, #edit_text{
    height: 19px;
    padding: 3px 0 0 0;
}

.selected{
    
}

#display:hover, #edit:hover{
    background-color: #999;
}

.cont{
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    position: relative;
}

.sub_cont{
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    min-height: 60px;
}

.imgs_cont{
    width: 100%;
    margin: 0;
}

.number_cont{
    width: 40px;
    height: 33px;
    margin-left: 40px;
    margin-right: 10px;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    font-size: 130%;
    padding-top: 7px;
    font-weight: bold;
}

.text_cont{
    width: 80%;
    min-height: 40px;
    max-height: 60px;
    float: right;
    overflow-x: hidden;
    background-color: #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;  
}

.close_cont{
    width: 20px;
    height: 20px;
    background-image: url(../img/close_cont.png);
    cursor: pointer;
    position: absolute;
    top: -15px;
    left: 5px;
}

.add_img{
    width: 120px;
    height: 120px;
    margin: 10px 20px;
    background-image: url(../img/add_img.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.img_block{
    width: 120px;
    height: 120px;
    margin: 10px 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    -moz-box-shadow: #ccc -1px 0 4px;
    -webkit-box-shadow: #ccc -1px 0 4px;
    box-shadow: #ccc -1px 0 4px;
}

.close_img, .clear_img, .numb_img {
    width: 30px;
    height: 30px;    
    background-repeat: no-repeat;
    position: absolute;    
    right: -15px;
    cursor: pointer;
}

.close_img{
    background-image: url(../img/close_img.png);
    top: -15px;
}

.clear_img{
    background-image: url(../img/clear_img.png);
    top: 15px;
}

.numb_img{
    background-image: url(../img/numb_img.png); 
    left: -15px;
    top: -15px;
    color: white;
    font-weight: bold;
    font-size: 130%;
}

.add_block{
    margin: 20px 0 0 20px;
    width: 110px;
    height: 25px;
    background-image: url(../img/add_block.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 5px;
    cursor: pointer;
    background-color: #ccc;
    -webkit-border-radius: 15px;
    border-radius: 15px;    
}

/*new design*/

.body_table{
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

/*top*/

.b_top_left{
    width: 54px;
    background-image: url(../img/top_left.png);
    background-repeat: no-repeat;
}

.b_top_right{
    width: 54px;
    background-image: url(../img/top_right.png);
    background-repeat: no-repeat;
}

.b_top_center{
    height: 54px;
    background-image: url(../img/top.png);
    background-repeat: repeat-x;
}

/*bottom*/

.b_bottom_left{
    width: 54px;
    background-image: url(../img/bottom_left.png);
    background-repeat: no-repeat;
}

.b_bottom_right{
    width: 54px;
    background-image: url(../img/bottom_right.png);
    background-repeat: no-repeat;
}

.b_bottom_center{
    background-image: url(../img/bottom.png);
    background-repeat: repeat-x;
}

/*center*/

.b_center_left{
    width: 54px;
    background-image: url(../img/left.png);
    background-repeat: repeat-y;
}

.b_center_right{
    width: 54px;
    background-image: url(../img/right.png);
    background-repeat: repeat-y;
}

#data{
    width: 100%;
    height: 100%;    
    min-height: 250px;
    overflow: auto;
}

#wgt_name{
    height: 44px;
    width: 300px;
    margin: 10px 10px 0 10px;
    padding: 0;
    float: left;
    /*font-family: "Lobster13Regular";*/
    font-size: 24px;
    color: #8c5730;
}

#wgt_reload, #wgt_edit, #wgt_display{
    cursor: pointer;
    width: 80px;
    height: 44px;
    margin: 10px 10px 0 0;
    float: right;
    /*font-family: "Lobster13Regular";*/
    font-size: 24px;   
    color: #8c5730;
}

#wgt_display{
    width: 100px;
    padding-left: 40px;
    background-image: url(../img/slate-edit.png);
    background-repeat: no-repeat;
    background-position: top 0;
    display: none;
}

#wgt_edit{    
    width: 100px;
    padding-left: 40px;
    background-image: url(../img/slate-edit.png);
    background-repeat: no-repeat;
    background-position: top 0;
}

#wgt_reload{
    padding-left: 40px;
    background-image: url(../img/slate-toolbar-reload.png);
    background-repeat: no-repeat;
    background-position: top 0;
}

.style_select{    
    width: 120px;
    /*font-family: "Lobster13Regular";*/
    font-size: 24px;
    float: right;
    margin: 10px 20px 0 0;
    border-radius: 10px;
    background-image: url(../img/ar_down.png);
    background-color: #d4aa79;
    color: #8c5730;
    background-position: 105px 11px;
    background-repeat: no-repeat;
    -webkit-appearance: menulist-text;
    display: none;
}

.btl_pad{
    background-image: url(../img/pad-top-left.png) !important;
}

.btc_pad{
    background-image: url(../img/pad-top.png) !important;
}

.btr_pad{
    background-image: url(../img/pad-top-right.png) !important;
}

.bcl_pad{
    background-image: url(../img/pad-left.png) !important;
}

.bcr_pad{
    background-image: url(../img/pad-right.png) !important;
}

.bbl_pad{
    background-image: url(../img/pad-bottom-left.png) !important;
}

.bbc_pad{
    background-image: url(../img/pad-bottom.png) !important;
}

.bbr_pad{
    background-image: url(../img/pad-bottom-right.png) !important;
}

.pad_color{
    color: white !important;
}

.pad_reload{
    background-image: url(../img/slate-toolbar-reload-white.png) !important;
}

.pad_edit{
    background-image: url(../img/slate-display.png) !important;
}

.pad_select{
    background-color: black !important;
    color: white !important;
    background-image: url(../img/ar_down_white.png) !important;
}
