html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.toggle_mode{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #999;
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#display_img, #edit_img{
    width: 15px;
    height: 15px;
    margin: 5px 10px;
}

.green_point{
    background-image: url(../img/green_point.png);
}

.red_point{
    background-image: url(../img/red_point.png);
}

#display_text, #edit_text{
    height: 19px;
    padding: 3px 0 0 0;
}

.selected{
    background-color: #666;
}

#display:hover, #edit:hover{
    background-color: #999;
}

.cont{
    width: 100%;
    border-bottom: 1px solid #999;
    margin: 0;
    padding: 0;
    position: relative;
}

.sub_cont{
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    min-height: 60px;
}

.imgs_cont{
    width: 100%;
    min-height: 62px;
    margin: 0;
}

.imgs_answers_gray{
    background-color: #f4f2f2;
}

.imgs_answers_green{
    background-color: #9f9;
}

.imgs_answers_red{
    background-color: #f99;
}

.number_cont{
    width: 40px;
    height: 33px;
    margin-left: 40px;
    margin-right: 10px;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    font-size: 130%;
    padding-top: 7px;
    font-weight: bold;
}

.text_cont{
    width: 80%;
    min-height: 40px;
    float: right;
    background-color: #999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
}

.close_cont{
    width: 20px;
    height: 20px;
    background-image: url(../img/close_cont.png);
    cursor: pointer;
    position: absolute;
    top: -15px;
    left: 5px;
}

.img_block{
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    -moz-box-shadow: #ccc -1px 0 4px;
    -webkit-box-shadow: #ccc -1px 0 4px;
    box-shadow: #ccc -1px 0 4px;
    font-size: 230%;
}

.add_block{
    margin: 20px 0 0 20px;
    width: 110px;
    height: 25px;
    background-image: url(../img/add_block.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 5px;
    cursor: pointer;
    background-color: #ccc;
    -webkit-border-radius: 15px;
    border-radius: 15px;    
}

.dropHere{
    background-color: #ccc;
}

.dropBack{
    background-color: #F4F2F2;
}

.audio_block{
    width: 120px;
    height: 30px;
    margin: 5px 0;    
    float: left;
}

.audio_desc{
    min-height: 30px;
    margin: 5px 0;
    float: left;
    margin-left: 20px;
}

.play, .stop{
    height: 30px;
    width: 70px;    
    float: left;
    cursor: pointer;
}

.play{
    background-image: url(../img/play.png);
}

.stop{
    background-image: url(../img/stop.png);
}

.replay{
    height: 30px;
    width: 32px;
    margin-left: 10px;
    float: left;
    background-image: url(../img/replay.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.gray{
    background-color: #ccc;
}

.audio_answer{
    min-height: 50px;
    margin: 5px 10px;
    padding: 0 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    -moz-box-shadow: #ccc -1px 0 4px;
    -webkit-box-shadow: #ccc -1px 0 4px;
    box-shadow: #ccc -1px 0 4px;
    font-size: 230%;
}