/* custom */

#mp_content span.upper{
	font-size: 24pt;
	cursor: pointer;
}
#mp_content span.upper span.dash{
	display: none;
	color: black;
	text-align: center;
}
#mp_content span.upper:hover span.dash{
	display: inline-block;
	width: 30px; height: 30px;
	background-image: url( "separator-hover.png" );
	background-position: 0px 5px;
	color: transparent;
}

#mp_content span.upper span.fixed{
	display: inline-block;
	color: #00b8e4;
	width: 30px; height: 30px;
	background-image: none;
}
#mp_content span.upper:hover span.fixed, #mp_content span.upper span.fixed:hover{
	color: transparent;
	width: 30px; height: 30px;
	background-image: url( "separator-activated.png" );
	background-position: 0px 5px;
}

.answerRight span.upper{
	color: #00b8e4;
}
