/* 
    Document   : hideButton
    Created on : Aug 19, 2011, 6:32:52 PM
    Author     : GEG.BY
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

button{
    padding: 0px;
    margin: 2px;
    width: 19px;
    height: 15px;
    background-repeat: no-repeat;
    border: none;
    float: right;
}

.down{
    background-image: url(img/down.png) ;    
}

.up{
    background-image: url(img/up.png);
}

.customIcon{
    padding: 0px;
    margin: 0px;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-image: url(img/custom_icon.png);
    border: none;
}
