/* custom */

#mp_view{
	font-size: 12pt;
}

#mp_view h3{
	margin: 0px; padding: 0px;
	margin-bottom: 0.5em;
	font-weight: normal;
}


#mp_edit #quiz_elements{
	width: 300px;
	float: left;
}

#mp_edit #quiz_options{
	width: 200px;
	float: left;
}

#mp_edit hr{
	clear: left;
	visibility: hidden;
}

#mp_edit button.add{
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAYAAADFniADAAAA8UlEQVR42u2UsQqCUBSG3XsLtwYfJIKKxoZaXYIeoGgtiIiGpvCVakhyiaApFDWMhmo43V9MbuTioN7hfPDBgXsv/lx/1TSGYRiGYXJjzKylMbeiWDGrEUqE2XgvgpiVCTU9RwSVCjVyfIJKhRo6AcFKQv2UWtIUgcwk1J9Flx8PWXtvWlyfqZPLg/q2H4tZXsPewm8v7s/pToNjmNoTYdp7NxazvIa9hYeqj1fbrFfU2LkEs9Zwpuha1YQ6Lu0rHtw5BASTWzEk9eRM+V9f1w4JKvVLaNk3gkqFaopATZVCyeUvo9R5y19NqRmGYRhF+QAs9wHg1SFRcQAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent;
height: 37px;
line-height: 37px;
overflow: hidden;
padding-left: 37px;
width: auto;
border-width: 0px;
cursor: pointer;
float: left;
clear: both;
}

#mp_edit button.delete{
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAABZUlEQVR42pWQv0vEMBTHq+Dg6qSDiDiIo4P/g4OTcKvgJrjrIug/4OLo4iZOguPJuZ2t3qWXtknTJE2bpL07xB84CK7ny6EHNxp4kITP9/ve93nefw4Og8sYP33RGEkSdXb//uNuez0K/WaCn79p3PUp7mx5ACLO8LDMaa0EURkJdwhCa3EUtGiCXnMem1LRoeTkwAPlEUAvlRZFpbk1KiUgfuRpb6AEFdbwt74VN2XJVjzf9+dFhk9NwWylpQRR6e5aUW41r+B9awxfncyNEJoTWXQOUN9qwV0BVNVaPAwUWZ4KGYbBRpqg+0ISC26yMiIHWEGxMk8bEzDq+ptRL2hnNHQhBbgZN/uvYDySYL290Wg06+FecMcIei8AhPYu6JUp+Ql0MOPQBvQqFZyG2251bcnjT5e6NuJaa7oILjMFT45dBhB8QA0Kme671TVynjStERfGsKWp0AwfgqBldXZW13ThB0DfO0e4Gr5QAAAAAElFTkSuQmCC") no-repeat scroll 0 50% transparent;
background-position: 3px 5px;
height: 18px; width: 18px;
line-height: 18px;
overflow: hidden;
padding-left: 11px;
border-width: 0px;
color: #aaa;
cursor: pointer;
display: block;
float: left;
clear: left;
}

#mp_edit input.option{
	display: block;
	float: left;
}