/* frame */

#mp_setup{
	text-align: right;
}

#mp_content{
	margin-top: 5px;
}

.viewmode{
	/* empty */
}
.editmode{
	/* empty */
}
.hide{
	display: none;
}

button.hideAll{
	background-color: transparent;
	color: transparent;
	border-width: 0px;
	background-image: url( "stick-but-minimize.png" );
	background-repeat: no-repeat;
	cursor: pointer;
	
	overflow: hidden;
	font-size: 1px;
	width: 25px;
	height: 25px;
}

#mp_splash{

}