:root {
    /* Default light theme colors */
    --bg-outer: #aaaaaa;
    --bg-main: #eeeeee;
    --border-color: #999999;
    --separator-color: #ccc;
    --text-color: #000000;
}

:root[data-theme="dark"] {
    /* Dark theme colors */
    --bg-outer: #555555;
    --bg-main: #3a3a3a;
    --border-color: #666666;
    --separator-color: #555;
    --text-color: #e0e0e0;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body{
    background-color: var(--bg-outer);
}

#main{
    background-color: var(--bg-main);
    color: var(--text-color);
    width: 99%;
    margin: 0px;
    margin-left:1px;
    padding: 0px;
    height: 99%;
    border-color: var(--border-color);
    border-width:2px;
    border-radius:10px;
    border-style:solid;
}

#content{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 90%;
}

iframe{
    border: none;
    padding: 5px;
}

#separator{
    width: 96%;
    margin: 0 auto;
    border: 2px solid var(--separator-color);
}

#controls{
    height: 30px;
}

#navigation{
    margin-left: 10px;
    height: 100%;
    float: left;
    margin-top: 5px;
}

#left{
    width: 30px;
    height: 30px;
    background-image: url(../images/left.png);
    cursor: pointer;
    float: left;
}

#right{
    width: 30px;
    height: 30px;
    background-image: url(../images/right.png);
    cursor: pointer;
    float: right;
}

#title{
    width: 250px;
    height: 100%;
    float: left;
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
    display: table;
    user-select: none;
}
        
