QWidget:enabled
{
   color: palette(text);
}

QWidget:disabled
{
    color: palette(disabled, text);
}

QComboBox,
QPushButton,
QComboBox QAbstractItemView
{
    background: palette(button);
}

QTextEdit,
QLineEdit,
QComboBox#DockPaletteWidgetComboBox QAbstractItemView
{
    selection-background-color: palette(highlight);
    selection-color: palette(highlighted-text);
}
QProgressBar:horizontal
{
    border: 1px solid palette(mid);
    border-radius: 3px;
    background: palette(base);
    padding: 1px;
}
QProgressBar::chunk:horizontal
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(mid), stop:1 palette(button));
}

QMainWindow
{
   background-color: palette(window);
}

QDialog
{
   background-color: palette(button);
}

QMenu
{
    border: none;
    font-size: 12px;
    background-color: palette(button);
}

QMenu::item
{
    background-color: palette(midlight);
}

QMenu::item:selected
{
    background-color: palette(mid);
}

QMenu::separator
{
   background-color: palette(midlight);
   border: 1px dotted palette(dark);
}

QToolBar
{
    spacing: 0px;
    background-color: palette(midlight);
    border: none;
    border-bottom: 1px solid palette(dark);
}

QToolBar::handle
{
    margin: 2px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #d3d3d3, stop: 1  #c4c4c4);
}

QToolBar::separator
{
   border: 1px dotted palette(dark); border-left: none; margin-left: 5px; margin-right: 5px; width: 1px;
}

QToolBar QToolButton
{

    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: none;
    height: 58px;
}

QToolBar QToolButton:pressed
{
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: none;
    height: 58px;

    background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop: 0 #d3d3d3, stop: 1  #b3b3b3);
}

QDialog QToolButton:pressed
{
   background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop: 0 #ffffff, stop: 1  #dddddd);
}

QToolButton#ubButtonGroupLeft,
QToolButton#desktop-ubButtonGroupLeft
{
    margin-top: 1px;
    margin-right: 0px;
    padding: 5px;
    height: 14px;
}

QToolButton#ubButtonGroupCenter,
QToolButton#desktop-ubButtonGroupCenter
{
    margin-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px;
    height: 14px;
}

QToolButton#ubButtonGroupRight,
QToolButton#desktop-ubButtonGroupRight
{
    margin-top: 1px;
    margin-left: 0px;
    padding: 5px;
    height: 14px;
}


QToolButton#ubButtonGroupLeft:checked,
QToolButton#ubButtonGroupCenter:checked,
QToolButton#ubButtonGroupRight:checked
{
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 palette(light), stop: 1  palette(midlight));
}

QToolButton#ubButtonGroupLeft:checked
{
    padding-right: 4px;
}

QToolButton#ubButtonGroupCenter:checked
{
    padding-right: 4px;
    padding-left: 4px;
}

QToolButton#ubButtonGroupRight:checked
{
    padding-left: 4px;
}

QToolButton#ubButtonMenu
{
    margin-right: 2px;
    padding-right: 12px;
}

QToolButton#ubButtonMenu:pressed,
QToolButton#ubButtonMenu:checked
{
   background-color: palette(midlight);
}

QToolButton#ubActionPaletteButton
{
    margin: 0px;
}

QFrame#newDocumentFolderFrame,
QFrame#newDocumentFrame,
QFrame#newFolderFrame
{
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e6eaf0, stop: 1  #dbe0e8);
    margin: 0px;
    padding: 0px;
    border: none;
}

QFrame#topLeftFrame,
QFrame#imageTopLeftFrame,
QFrame#interactiveTopLeftFrame,
QFrame#videoTopLeftFrame,
QFrame#toolTopLeftFrame
{
    border: none;
    border-right: 1px solid palette(dark);
}

QWidget#topRightFrame
{
    background-color: palette(light);
}

QFrame#toolFrame
{
    border-top: 1px solid palette(dark);
}

QTreeView
{
    background-color: palette(base);
}

QTreeView::item:selected:active
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAB7C4, stop: 1  #7e8eA0);
    border: none;
}

QTreeView::item
{
    padding-top: 1.5 px;
    padding-bottom: 1.5 px;
}

QTreeView::item:selected,
QTreeView::branch:selected
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAB7C4, stop: 1  #7e8eA0);
    border: none;
}

QTreeView::branch:has-siblings:!adjoins-item,
QTreeView::branch:!has-children:!has-siblings:adjoins-item,
QTreeView::branch:has-siblings:adjoins-item
{
    border-image: none;
    image: none;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings
{
    border-image: none;
    image: url(:/style/treeview-branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings
{
    border-image: none;
    image: url(:/style/treeview-branch-open.png);
}

QSlider::groove:horizontal
{
    border: 1px solid palette(mid);
    height: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(mid), stop:1 palette(button));
    margin: 2px 0;
}

QSlider::handle:horizontal
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 palette(midlight), stop: 1  palette(button));
    border: 1px solid palette(dark);

    width: 18px;
    margin: -2px 0;
    border-radius: 6px;
}

QTabWidget::pane
{
    border: 1px solid palette(dark);
    margin-top: -2px;
}

QTabWidget::pane#libraryTabWidget
{
    border: none;
    border-top: 1px solid palette(dark);
}

QTabWidget::tab-bar
{
    alignment: center;
}

QTabWidget::tab-bar#ubWebBrowserTabWidget
{
    background: palette(button);
    alignment: left;
}

QTabBar::tab
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 palette(light), stop: 1  palette(button));

    border: 1px solid palette(dark);

    border-bottom: none;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    min-width: 12ex;
    margin: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
    padding: 4px;

    height: 14px;
}

QTabBar::tab:first
{
    border-left: 1px solid palette(dark);
}

QTabBar::tab:last
{
    border-right: 1px solid palette(dark);
}

QTabBar::tab:selected
{
    border-right: 1px solid palette(dark);
    border-left: 1px solid palette(dark);
    border-bottom: none;
}

QTabBar::tab:first:selected
{
    border-right: 1px solid palette(dark);
}

QTabBar::tab:last:selected
{
    border-left: 1px solid palette(dark);
}

QTabBar::tab:selected
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 palette(midlight), stop: 1  palette(button));
}

QTabBar::tab#ubWebBrowserTabBar
{
    background: palette(button);
    min-width: 150px;
}

QTabBar::tab:selected#ubWebBrowserTabBar
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 palette(midlight), stop: 1  palette(button));
}

QLineEdit#ubWebBrowserLineEdit
{
    border: 1px solid palette(dark);
    border-radius: 3px;
    padding: 2 2px;
    background: palette(base);
}

