#contentContainer {
	float: right;
	padding-right: 7px;
	background-position: top left;
}

#sidebarContainer {
	float: left;
	padding-left: 7px;	
}

#sidebarContainer #sidebar {
	padding-left: 30px;
	padding-right: 10px;
}